*{
    /*border: 2px solid black;*/
    font-size: large;
    padding-top:2px ;
    padding-bottom: 2px;
    }
.flex1 h1{
    color:or;
    font-size: 35px;transition-property: all ;

}
#image{
    transition-duration:3s ;
    transition-timing-function:ease ;
    transition-delay:0.10s ;
}
#image:hover{
    transform: scale(1.31);

}
.flex1 h1
{margin-left:20px;
    /*border: 1px solid black;*/

    color: darkorange;
}
.flex1 h2
{
    float: right;
}
.flex1{
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.fchild{
    width: 100px;
    height: 100px;
}
#fbox1{
    width: 350px;
    height: 350px;
}
#fbox2{
    margin-top: 200px;
    width: 350px;
}
.con{
    margin-top:  4px; ;
    display: grid;
    width: 100%;
    height: 500px;

}
.gchild{

}
#hone{
    font-size: 70px;
}
#gbox1{
    width: 100%;
    height: 80px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    padding-left: 300px;
    
    padding-bottom:20px ;
}
#gbox2{
    font-size: x-large;
    padding-left: 300px;
    padding-right: 100px;
    font-size: 93px;    
grid-row-start: 2;
grid-row-end: 3;
}
#gbox3{
    /*0border: 1px solid black;*/
    margin-left: 300px;

}
#gbox4{

    padding-right: 50px;
    justify-self: end;
    /*border: 1px solid black;*/
}
a:hover{
    color: palevioletred;
    background-color: oldlace;
text-decoration:underline;
}
a:hover{
    text-decoration: underline;
}
a:active{
    background:  orange;
}
a:visited{
    color: aqua;
}
a
{
text-decoration: none;   
}